extends layout

block layout-content
    div.View
        div.Header
            h1.Banner FreeMUSIC
            include ./components/NavButtons/topNavButtons
        //- each user in users
        //- p Welcome: #{person.name} (#{person.email})
        div.UserList
            ol 
                each person, index in users 
                    p #{index + 1}. #{person.name} (#{person.email})
        div.Main
        div.Section
        div.Footer
            include ./components/NavButtons/bottomNavButtons