extends ../layout

block layout-content
    div.View
        div.Header
            h1.Banner AFRO LYRICS MANIA
            include ../components/buttons/NavButtons/topNavButtons
        //- p Welcome: #{users.name} (#{users.email})
        //- textarea#virtual-text-area(readonly) 
        //- each user in users
        div.Main
            div.UserList
                h1 List of Users
                ol 
                    each person, index in users 
                        p #{index + 1}. #{person.fullName} (#{person.email})
        div.Section
        div.Footer
            include ../components/buttons/NavButtons/bottomNavButtons

    //- script(src='scripts/components/users/getUserByID.js')
    //- views/layout.pug