extends ../layout

block layout-content
    div.View
        div.Header
        //- p Welcome: #{users.name} (#{users.email})
        //- textarea#virtual-text-area(readonly) 
        //- each user in users
        div.Hero
            div.UserList
                h1 List of Users
                ol 
                    each person, index in users 
                        p #{index + 1}. #{person.fullName} (#{person.email})
        div.Main
        div.Section
        div.Footer

    //- script(src='scripts/components/users/getUserByID.js')
    //- views/layout.pug